.p-Home.Flex1 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
justify-content: space-around;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
background-color: #fcfbfc;
}
.p-Home.Flex2 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
font-family: Poppins;
font-weight: 300;
column-gap: 50px;
color: #7e7e7e;
}
.p-Home.Flex3 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: ;
height: ;
flex-direction: column;
align-items: center;
background-color: #fcfbfc;
row-gap: 5px;
}
.p-Home.Flex5 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex7 {
display: flex;
flex-direction: column;
height: ;
align-items: stretch;
}
.p-Home.Flex8 {
display: flex;
width: ;
overflow: hidden;
box-sizing: border-box;
line-height: 75px;
padding-bottom: ;
align-items: center;
}
.p-Home.Flex9 {
display: flex;
background-color: #ffffff;
overflow: hidden;
box-sizing: border-box;
border-style: none;
flex-direction: column;
}
.p-Home.Flex62 {
display: flex;
width: ;
height: ;
background-color: #266d99;
}
.p-Home.Flex64 {
display: flex;
width: ;
height: ;
background-color: #266d99;
overflow: hidden;
box-sizing: border-box;
border-top-left-radius: ;
}
.p-Home.Flex6 {
display: flex;
column-gap: 15px;
line-height: ;
padding-bottom: 20px;
overflow: hidden;
box-sizing: border-box;
}
.p-Home.Flex10 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
height: ;
background-color: #fcfbfc;
align-items: center;
justify-content: center;
column-gap: 50px;
padding-top: 30px;
padding-bottom: 30px;
}
.p-Home.Flex11 {
display: flex;
width: ;
align-items: center;
column-gap: 20px;
background-color: #fcfbfc;
}
.p-Home.Flex13 {
display: flex;
flex-direction: column;
justify-content: center;
}
.p-Home.Flex14 {
display: flex;
align-items: center;
width: ;
}
.p-Home.Flex15 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
background-color: #fcfbfc;
height: ;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 50px;
margin-top: ;
padding-bottom: 50px;
}
.p-Home.Flex16 {
display: flex;
overflow: hidden;
box-sizing: border-box;
position: relative;
width: ;
flex-direction: column;
border-style: none;
align-items: center;
z-index: 1;
}
.p-Home.Flex18 {
display: flex;
position: absolute;
justify-content: space-between;
overflow: hidden;
box-sizing: border-box;
column-gap: 420px;
z-index: 4;
}
.p-Home.Flex19 {
display: flex;
flex-direction: column;
width: ;
height: ;
align-items: center;
overflow: hidden;
box-sizing: border-box;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
border-style: solid;
border-width: 2px;
background-color: #ffffff;
justify-content: center;
column-gap: ;
row-gap: 10px;
border-color: #f5efef;
}
.p-Home.Flex20 {
display: flex;
}
.p-Home.Div3 {
;
}
.p-Home.Flex17 {
display: flex;
z-index: 4;
width: 100vw;
overflow: hidden;
box-sizing: border-box;
justify-content: space-between;
align-items: center;
background-color: #000000;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: ;
position: static;
border-style: solid;
border-width: 1px;
border-color: #000000;
column-gap: ;
}
.p-Home.Flex21 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
width: ;
height: ;
border-width: 5px;
justify-content: center;
background-color: #fcfbfc;
align-items: center;
column-gap: 50px;
padding-top: 60px;
padding-bottom: 60px;
}
.p-Home.Flex22 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
flex-direction: column;
column-gap: ;
row-gap: 20px;
}
.p-Home.Flex33 {
display: flex;
flex-direction: column;
height: ;
}
.p-Home.Flex24 {
display: flex;
align-items: center;
justify-content: flex-start;
column-gap: 10px;
line-height: 60px;
}
.p-Home.Flex25 {
display: flex;
column-gap: 10px;
line-height: 60px;
}
.p-Home.Flex23 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-Home.Flex26 {
display: flex;
flex-direction: column;
height: ;
overflow: hidden;
box-sizing: border-box;
align-items: flex-start;
justify-content: center;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #cac8c8;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
padding-left: 20px;
}
.p-Home.Flex28 {
display: flex;
width: ;
column-gap: 15px;
}
.p-Home.Flex29 {
display: flex;
flex-direction: column;
}
.p-Home.Flex32 {
display: flex;
flex-direction: column;
height: ;
overflow: hidden;
box-sizing: border-box;
align-items: flex-start;
justify-content: center;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}
.p-Home.Flex31 {
display: flex;
width: ;
column-gap: 15px;
}
.p-Home.Flex30 {
display: flex;
flex-direction: column;
}
.p-Home.Flex34 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
height: ;
background-color: #fcfbfc;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 50px;
padding-top: 60px;
padding-bottom: 60px;
}
.p-Home.Flex35 {
display: flex;
width: ;
overflow: hidden;
box-sizing: border-box;
border-style: none;
column-gap: 100px;
}
.p-Home.Flex36 {
display: flex;
flex-direction: column;
align-items: center;
}
.p-Home.Flex37 {
display: flex;
flex-direction: column;
align-items: center;
}
.p-Home.Flex38 {
display: flex;
flex-direction: column;
align-items: center;
}
.p-Home.Flex39 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
height: ;
flex-direction: column;
justify-content: space-between;
background-color: #fffdff;
row-gap: 50px;
padding-top: 50px;
padding-bottom: 50px;
}
.p-Home.Flex40 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
justify-content: center;
align-items: flex-end;
background-color: #ffffff;
column-gap: 200px;
}
.p-Home.Flex42 {
display: flex;
flex-direction: column;
row-gap: ;
overflow: hidden;
box-sizing: border-box;
line-height: 50px;
}
.p-Home.Flex44 {
display: flex;
column-gap: 10px;
}
.p-Home.Flex43 {
display: flex;
flex-direction: column;
row-gap: 20px;
padding-top: ;
padding-bottom: ;
justify-content: flex-start;
align-items: stretch;
}
.p-Home.Flex46 {
display: flex;
height: ;
justify-content: center;
overflow: hidden;
box-sizing: border-box;
padding-left: ;
padding-right: ;
column-gap: 10px;
padding-top: 10px;
padding-bottom: 10px;
background-color: #ffffff;
}
.p-Home.Flex47 {
display: flex;
overflow: hidden;
box-sizing: border-box;
height: ;
border-style: solid;
background-color: #202224;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 30px;
padding-top: 100px;
padding-bottom: 100px;
}
.p-Home.Flex48 {
display: flex;
flex-direction: column;
overflow: hidden;
box-sizing: border-box;
line-height: 50px;
}
.p-Home.Flex51 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
justify-content: space-around;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
background-color: ;
width: 90%;
border-top-color: #353538;
border-top-style: solid;
border-top-width: 2px;
}
.p-Home.Flex50 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
font-family: Poppins;
font-weight: 300;
column-gap: 50px;
color: #ffffff;
}
.p-Home.Flex52 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
height: ;
background-color: #fcfbfc;
flex-direction: column;
justify-content: center;
row-gap: 100px;
padding-top: 50px;
padding-bottom: 50px;
}
.p-Home.Flex53 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
justify-content: center;
align-items: center;
column-gap: 150px;
}
.p-Home.Flex55 {
display: flex;
width: ;
height: ;
flex-direction: column;
justify-content: space-between;
row-gap: 15px;
}
.p-Home.Flex56 {
display: flex;
height: ;
flex-direction: column;
line-height: 65px;
}
.p-Home.Flex57 {
display: flex;
column-gap: 10px;
}
.p-Home.Flex58 {
display: flex;
overflow: hidden;
box-sizing: border-box;
border-style: none;
height: ;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-Home.Flex54 {
display: flex;
border-style: none;
overflow: hidden;
box-sizing: border-box;
height: ;
align-items: center;
justify-content: space-around;
border-bottom-style: solid;
border-bottom-width: 1px;
padding-bottom: 20px;
padding-top: 20px;
border-bottom-color: #dbdbdb;
width: 75vw;
}
.p-Home.Flex59 {
display: flex;
border-style: none;
overflow: hidden;
box-sizing: border-box;
height: ;
align-items: center;
justify-content: space-around;
border-bottom-style: solid;
padding-bottom: 20px;
padding-top: 20px;
border-bottom-width: 1px;
border-bottom-color: #dbdbdb;
width: 75vw;
}
.p-Home.Flex60 {
display: flex;
border-style: none;
overflow: hidden;
box-sizing: border-box;
height: ;
align-items: center;
justify-content: space-around;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #dbdbdb;
width: 75vw;
padding-top: 20px;
padding-bottom: 20px;
}
.p-Home.Flex61 {
display: flex;
border-style: none;
overflow: hidden;
box-sizing: border-box;
height: ;
align-items: center;
justify-content: space-around;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #dbdbdb;
width: 75vw;
padding-top: 20px;
padding-bottom: 20px;
}
.p-Home.TextBox1 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 600;
color: #202224;
font-size: 1.2em;
}
.p-Home.Button1 {
color: #fff;
background-color: #202224;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 5px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
overflow: hidden;
box-sizing: border-box;
}
.p-Home.TextBox2 {
;
}
.p-Home.TextBox3 {
;
}
.p-Home.TextBox4 {
;
}
.p-Home.TextBox5 {
align-self: auto;
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-weight: 400;
font-size: 18px;
color: #202224;
}
.p-Home.TextBox8 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 6.5em;
color: #202224;
}
.p-Home.Div4 {
width: 50px;
height: 50px;
overflow: hidden;
box-sizing: border-box;
border-style: none;
background-color: #fcfbfc;
border-bottom-width: ;
border-bottom-right-radius: 100px;
}
.p-Home.Div5 {
width: 50px;
height: 50px;
overflow: hidden;
box-sizing: border-box;
border-style: none;
background-color: #fcfbfc;
border-bottom-width: ;
border-bottom-right-radius: ;
border-bottom-left-radius: 100px;
}
.p-Home.Div6 {
width: 50px;
height: 50px;
overflow: hidden;
box-sizing: border-box;
border-style: none;
background-color: #fcfbfc;
border-bottom-width: ;
border-bottom-right-radius: ;
border-bottom-left-radius: ;
border-top-left-radius: 100px;
}
.p-Home.Div7 {
width: 50px;
height: 50px;
overflow: hidden;
box-sizing: border-box;
border-style: none;
background-color: #fcfbfc;
border-bottom-width: ;
border-bottom-right-radius: ;
border-top-right-radius: 100px;
}
.p-Home.TextBox10 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 6.5em;
color: #266d99;
line-height: 85px;
}
.p-Home.TextBox11 {
font-family: Roboto;
font-size: 6.5em;
color: #202224;
line-height: 85px;
}
.p-Home.TextBox9 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 6.5em;
color: #202224;
line-height: 85px;
}
.p-Home.TextBox14 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
width: 450px;
background-color: #fcfbfc;
color: #7e7e7e;
}
.p-Home.TextBox12 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
}
.p-Home.TextBox13 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
}
.p-Home.Div1 {
background-color: #266d99;
border-radius: 50%;
width: 50px;
height: 50px;
border-color: #266d99;
}
.p-Home.Div2 {
background-color: #202224;
width: 50px;
height: 50px;
border-radius: 50%;
border-color: #040404;
margin-left: ;
}
.p-Home.Image1 {
overflow: hidden;
box-sizing: border-box;
width: 900px;
height: 300px;
border-radius: ;
position: static;
padding-top: ;
margin-top: 40px;
z-index: 1;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox15 {
width: 180px;
text-align: left;
font-family: IBM Plex Sans;
color: #7e7e7e;
}
.p-Home.TextBox16 {
font-family: IBM Plex Sans;
font-weight: 600;
}
.p-Home.TextBox17 {
;
}
.p-Home.TextBox25 {
font-family: IBM Plex Sans;
font-size: 20px;
}
.p-Home.TextBox18 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-size: 2.5em;
font-weight: 400;
background-color: ;
color: #ffffff;
}
.p-Home.TextBox22 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-size: 2.5em;
font-weight: 400;
background-color: ;
color: #ffffff;
}
.p-Home.TextBox23 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-size: 2.5em;
font-weight: 400;
background-color: ;
color: #ffffff;
}
.p-Home.TextBox61 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-size: 2.5em;
font-weight: 400;
background-color: ;
color: #ffffff;
}
.p-Home.TextBox26 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 1.2em;
}
.p-Home.TextBox27 {
overflow: hidden;
box-sizing: border-box;
width: 350px;
font-family: Poppins;
color: #7e7e7e;
}
.p-Home.TextBox28 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-weight: 500;
font-size: 1.2em;
}
.p-Home.TextBox29 {
font-family: Roboto;
font-size: 4em;
}
.p-Home.TextBox30 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 4em;
color: #266d99;
}
.p-Home.TextBox31 {
font-family: Roboto;
font-size: 4em;
color: #266d99;
}
.p-Home.TextBox32 {
font-family: Roboto;
font-size: 4em;
}
.p-Home.TextBox33 {
width: 350px;
font-family: Poppins;
color: #7e7e7e;
}
.p-Home.Image2 {
width: 40px;
height: 40px;
overflow: hidden;
box-sizing: border-box;
border-radius: 50%;
border-style: solid;
border-width: 1px;
border-color: #f6eaea;
}
.p-Home.TextBox34 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-weight: 400;
font-size: 1.1em;
}
.p-Home.TextBox35 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
}
.p-Home.TextBox38 {
width: 350px;
font-family: Poppins;
color: #7e7e7e;
}
.p-Home.Image3 {
width: 40px;
height: 40px;
overflow: hidden;
box-sizing: border-box;
border-radius: 50%;
border-style: solid;
border-width: 1px;
border-color: #f6eaea;
}
.p-Home.TextBox36 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
}
.p-Home.TextBox37 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-weight: 400;
font-size: 1.1em;
}
.p-Home.Image4 {
width: 900px;
overflow: hidden;
box-sizing: border-box;
border-radius: 40px;
}
.p-Home.TextBox39 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 3em;
font-weight: 500;
}
.p-Home.TextBox40 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
}
.p-Home.TextBox41 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
}
.p-Home.TextBox42 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 3em;
}
.p-Home.TextBox43 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
}
.p-Home.TextBox44 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 3em;
}
.p-Home.TextBox45 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 1.2em;
}
.p-Home.TextBox46 {
font-family: Roboto;
font-weight: 600;
font-size: 3.5em;
}
.p-Home.TextBox49 {
font-family: Roboto;
font-size: 3.5em;
color: #266d99;
}
.p-Home.TextBox50 {
font-family: Roboto;
font-size: 3.5em;
}
.p-Home.TextBox48 {
font-family: Roboto;
font-size: 1.3em;
}
.p-Home.TextBox47 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
width: 350px;
}
.p-Home.Image5 {
width: 300px;
height: 300px;
border-radius: 30px;
border-style: solid;
border-color: #fbf7f7;
}
.p-Home.Image6 {
width: 300px;
height: 300px;
border-radius: 30px;
border-style: solid;
border-color: #fbf7f7;
}
.p-Home.Image7 {
width: 300px;
height: 300px;
border-radius: 30px;
border-style: solid;
border-color: #fbf7f7;
}
.p-Home.TextBox51 {
font-family: Poppins;
color: #ffffff;
font-size: 20px;
}
.p-Home.TextBox52 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
color: #ffffff;
font-size: 20px;
width: 80%;
align-self: center;
text-align: center;
background-color: #266d99;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 50px;
}
.p-Home.TextBox53 {
font-family: Poppins;
color: #ffffff;
font-size: 3em;
}
.p-Home.TextBox56 {
font-family: Poppins;
color: #ffffff;
font-size: 3em;
align-self: center;
}
.p-Home.Button2 {
color: #fff;
background-color: #202224;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 5px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
overflow: hidden;
box-sizing: border-box;
}
.p-Home.TextBox60 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 600;
color: #f0f2f5;
font-size: 1.2em;
}
.p-Home.TextBox57 {
;
}
.p-Home.TextBox58 {
;
}
.p-Home.TextBox59 {
color: #ffffff;
}
.p-Home.TextBox63 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
width: 480px;
font-size: 1.5em;
line-height: 28px;
color: #7e7e7e;
}
.p-Home.TextBox64 {
overflow: hidden;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.TextBox65 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 3.5em;
}
.p-Home.TextBox66 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 3.5em;
color: #266d99;
}
.p-Home.TextBox67 {
overflow: hidden;
box-sizing: border-box;
font-family: Roboto;
font-size: 3.5em;
}
.p-Home.Image8 {
overflow: hidden;
box-sizing: border-box;
height: 80px;
border-radius: 40px;
border-style: none;
width: 200px;
}
.p-Home.TextBox68 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
font-size: 2.4em;
}
.p-Home.TextBox69 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
font-size: 1em;
width: 350px;
color: #7e7e7e;
}
.p-Home.TextBox70 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
font-size: 1em;
width: 350px;
color: #7e7e7e;
}
.p-Home.TextBox71 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
font-size: 2.4em;
}
.p-Home.Image9 {
overflow: hidden;
box-sizing: border-box;
height: 80px;
border-radius: 40px;
border-style: none;
width: 200px;
}
.p-Home.Image10 {
overflow: hidden;
box-sizing: border-box;
height: 80px;
border-radius: 40px;
border-style: none;
width: 200px;
}
.p-Home.TextBox72 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
font-size: 2.4em;
}
.p-Home.TextBox73 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
font-size: 1em;
width: 350px;
color: #7e7e7e;
}
.p-Home.Image11 {
overflow: hidden;
box-sizing: border-box;
height: 80px;
border-radius: 40px;
border-style: none;
width: 200px;
}
.p-Home.TextBox74 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
font-size: 2.4em;
}
.p-Home.TextBox75 {
overflow: hidden;
box-sizing: border-box;
font-family: Poppins;
font-size: 1em;
width: 350px;
color: #7e7e7e;
}
@media screen and (max-width: 991px) {
	.p-Home.Flex11.bpt {
column-gap: 15px;
	}
	.p-Home.TextBox18.bpt {
font-size: 1.5em;
	}
	.p-Home.TextBox22.bpt {
font-size: 1.5em;
	}
	.p-Home.TextBox23.bpt {
font-size: 1.5em;
	}
	.p-Home.TextBox61.bpt {
font-size: 1.5em;
	}
	.p-Home.Flex8.bpt {
font-size: ;
	}
	.p-Home.Flex10.bpt {
padding-top: 20px;
padding-bottom: 20px;
column-gap: 40px;
	}
	.p-Home.Flex17.bpt {
font-size: 1.5em;
	}
	.p-Home.TextBox8.bpt {
font-size: 5.5em;
	}
	.p-Home.TextBox10.bpt {
font-size: 5.5em;
	}
	.p-Home.TextBox11.bpt {
font-size: 5.5em;
	}
	.p-Home.TextBox9.bpt {
font-size: 5.5em;
	}
}
@media screen and (max-width: 767px) {
	.p-Home.Flex1.bpt {
justify-content: space-between;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
	}
	.p-Home.Flex11.bpt {
overflow: hidden;
box-sizing: border-box;
column-gap: 10px;
	}
	.p-Home.Flex19.bpt {
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-top: 5px;
	}
	.p-Home.Flex43.bpt {
row-gap: 10px;
	}
	.p-Home.Flex55.bpt {
row-gap: 5px;
	}
	.p-Home.TextBox14.bpt {
font-size: 15px;
	}
	.p-Home.TextBox27.bpt {
width: 380px;
	}
	.p-Home.TextBox29.bpt {
font-size: 2.5em;
	}
	.p-Home.TextBox30.bpt {
font-size: 2.5em;
	}
	.p-Home.TextBox31.bpt {
font-size: 2.5em;
	}
	.p-Home.TextBox32.bpt {
font-size: 2.5em;
overflow: hidden;
box-sizing: border-box;
	}
	.p-Home.TextBox65.bpt {
font-size: 3em;
	}
	.p-Home.TextBox66.bpt {
font-size: 3em;
	}
	.p-Home.TextBox67.bpt {
font-size: 3em;
	}
	.p-Home.Flex3.bpt {
row-gap: ;
	}
	.p-Home.Flex8.bpt {
line-height: 65px;
justify-content: center;
	}
	.p-Home.Flex6.bpt {
padding-bottom: ;
	}
	.p-Home.Flex10.bpt {
column-gap: 10px;
	}
	.p-Home.Flex18.bpt {
column-gap: 200px;
	}
	.p-Home.Flex17.bpt {
font-size: 1.2em;
	}
	.p-Home.Flex21.bpt {
padding-left: 10px;
padding-right: 10px;
	}
	.p-Home.Flex22.bpt {
row-gap: 15px;
	}
	.p-Home.Flex24.bpt {
line-height: ;
	}
	.p-Home.Flex25.bpt {
box-sizing: border-box;
overflow: hidden;
line-height: ;
	}
	.p-Home.Flex26.bpt {
padding-bottom: 15px;
padding-top: 15px;
border-bottom-width: 2px;
border-bottom-color: #cccccc;
border-style: none;
border-bottom-style: solid;
row-gap: 5px;
	}
	.p-Home.Flex32.bpt {
padding-top: 15px;
padding-bottom: 15px;
row-gap: 5px;
	}
	.p-Home.Flex35.bpt {
column-gap: 50px;
	}
	.p-Home.Flex40.bpt {
column-gap: 50px;
	}
	.p-Home.Flex42.bpt {
line-height: 40px;
	}
	.p-Home.Flex46.bpt {
justify-content: space-around;
column-gap: ;
	}
	.p-Home.Flex56.bpt {
overflow: hidden;
box-sizing: border-box;
line-height: 50px;
	}
	.p-Home.Flex57.bpt {
overflow: hidden;
box-sizing: border-box;
	}
	.p-Home.Flex54.bpt {
width: 90vw;
justify-content: space-between;
column-gap: ;
	}
	.p-Home.Flex59.bpt {
width: 90vw;
justify-content: space-between;
	}
	.p-Home.Flex60.bpt {
width: 90vw;
justify-content: space-between;
	}
	.p-Home.Flex61.bpt {
width: 90vw;
justify-content: space-between;
	}
	.p-Home.TextBox8.bpt {
font-size: 5em;
	}
	.p-Home.TextBox10.bpt {
font-size: 5em;
	}
	.p-Home.TextBox11.bpt {
font-size: 5em;
	}
	.p-Home.TextBox9.bpt {
font-size: 5em;
	}
	.p-Home.Image1.bpt {
width: 600px;
	}
	.p-Home.TextBox15.bpt {
font-size: 15px;
	}
	.p-Home.TextBox33.bpt {
overflow: hidden;
box-sizing: border-box;
line-height: 18px;
text-align: justify;
	}
	.p-Home.TextBox38.bpt {
line-height: 18px;
text-align: justify;
	}
	.p-Home.Image4.bpt {
width: 700px;
	}
	.p-Home.TextBox46.bpt {
overflow: hidden;
box-sizing: border-box;
font-size: 2.5em;
	}
	.p-Home.TextBox49.bpt {
overflow: hidden;
box-sizing: border-box;
font-size: 2.5em;
	}
	.p-Home.TextBox50.bpt {
font-size: 2.5em;
	}
	.p-Home.Image5.bpt {
width: 230px;
height: 300px;
	}
	.p-Home.Image6.bpt {
width: 230px;
	}
	.p-Home.Image7.bpt {
width: 230px;
	}
	.p-Home.TextBox63.bpt {
font-size: 1em;
width: 300px;
	}
	.p-Home.Image8.bpt {
width: 150px;
height: 60px;
	}
	.p-Home.TextBox68.bpt {
font-size: 1.2em;
	}
	.p-Home.TextBox69.bpt {
font-size: 0.9em;
	}
	.p-Home.TextBox70.bpt {
font-size: 0.9em;
	}
	.p-Home.TextBox71.bpt {
font-size: 1.2em;
	}
	.p-Home.Image9.bpt {
width: 150px;
height: 60px;
	}
	.p-Home.Image10.bpt {
width: 150px;
height: 60px;
	}
	.p-Home.TextBox72.bpt {
font-size: 1.2em;
	}
	.p-Home.TextBox73.bpt {
font-size: 0.9em;
	}
	.p-Home.Image11.bpt {
width: 150px;
height: 60px;
	}
	.p-Home.TextBox74.bpt {
font-size: 1.2em;
	}
	.p-Home.TextBox75.bpt {
font-size: 0.9em;
	}
}
@media screen and (max-width: 478px) {
	.p-Home.Flex2.bpt {
column-gap: 10px;
	}
	.p-Home.Flex3.bpt {
justify-content: flex-start;
align-items: center;
text-align: left;
	}
	.p-Home.Flex8.bpt {
line-height: ;
	}
	.p-Home.Flex9.bpt {
height: 30px;
width: 40px;
	}
	.p-Home.Flex6.bpt {
column-gap: 10px;
	}
	.p-Home.Flex10.bpt {
flex-wrap: wrap;
justify-content: center;
column-gap: ;
row-gap: 20px;
	}
	.p-Home.Flex18.bpt {
column-gap: 80px;
align-items: center;
	}
	.p-Home.Flex17.bpt {
justify-content: space-around;
	}
	.p-Home.Flex21.bpt {
flex-wrap: wrap;
justify-content: center;
column-gap: ;
row-gap: 50px;
	}
	.p-Home.Flex22.bpt {
justify-content: flex-start;
align-items: center;
row-gap: 15px;
	}
	.p-Home.Flex24.bpt {
font-size: 1.4em;
	}
	.p-Home.Flex25.bpt {
font-size: 1.4em;
	}
	.p-Home.Flex26.bpt {
padding-left: ;
padding-right: ;
font-size: 1.5em;
padding-bottom: 25px;
padding-top: 25px;
	}
	.p-Home.Flex28.bpt {
align-items: center;
	}
	.p-Home.Flex32.bpt {
padding-left: ;
padding-right: ;
font-size: 1.5em;
padding-top: 25px;
padding-bottom: 25px;
	}
	.p-Home.Flex31.bpt {
justify-content: flex-start;
align-items: center;
	}
	.p-Home.Flex35.bpt {
column-gap: 10px;
flex-wrap: wrap;
align-items: center;
justify-content: center;
row-gap: 30px;
	}
	.p-Home.Flex36.bpt {
justify-content: flex-start;
align-items: center;
font-size: ;
overflow: hidden;
box-sizing: border-box;
order: 3;
	}
	.p-Home.Flex37.bpt {
overflow: hidden;
box-sizing: border-box;
order: 2;
	}
	.p-Home.Flex38.bpt {
overflow: hidden;
box-sizing: border-box;
order: 1;
	}
	.p-Home.Flex39.bpt {
row-gap: 10px;
padding-bottom: ;
padding-top: ;
	}
	.p-Home.Flex40.bpt {
flex-wrap: wrap;
align-items: center;
justify-content: center;
column-gap: ;
row-gap: 25px;
	}
	.p-Home.Flex42.bpt {
align-items: flex-start;
justify-content: center;
row-gap: 5px;
font-size: 1.4em;
line-height: 60px;
	}
	.p-Home.Flex46.bpt {
flex-wrap: wrap;
justify-content: space-around;
align-items: stretch;
padding-bottom: 20px;
padding-top: 20px;
	}
	.p-Home.Flex47.bpt {
padding-bottom: 20px;
padding-top: 20px;
row-gap: 20px;
	}
	.p-Home.Flex51.bpt {
justify-content: space-around;
width: 100%;
	}
	.p-Home.Flex50.bpt {
column-gap: 5px;
	}
	.p-Home.Flex53.bpt {
flex-wrap: wrap;
justify-content: center;
row-gap: 20px;
	}
	.p-Home.Flex56.bpt {
font-size: 1.4em;
line-height: 80px;
	}
	.p-Home.Flex57.bpt {
line-height: 75px;
	}
	.p-Home.Flex54.bpt {
flex-wrap: wrap;
justify-content: center;
row-gap: 10px;
padding-top: 25px;
padding-bottom: 25px;
	}
	.p-Home.Flex59.bpt {
flex-wrap: wrap;
justify-content: center;
padding-bottom: 25px;
padding-top: 25px;
	}
	.p-Home.Flex60.bpt {
justify-content: center;
flex-wrap: wrap;
padding-top: 25px;
padding-bottom: 25px;
	}
	.p-Home.Flex61.bpt {
flex-wrap: wrap;
justify-content: center;
padding-bottom: 25px;
padding-top: 25px;
	}
	.p-Home.Button1.bpt {
padding-left: 15px;
padding-right: 15px;
	}
	.p-Home.TextBox8.bpt {
font-size: 3em;
	}
	.p-Home.TextBox10.bpt {
font-size: 3em;
line-height: 55px;
	}
	.p-Home.TextBox11.bpt {
font-size: 3em;
overflow: hidden;
box-sizing: border-box;
line-height: 55px;
	}
	.p-Home.TextBox9.bpt {
font-size: 3em;
line-height: 55px;
	}
	.p-Home.Image1.bpt {
width: 400px;
height: 200px;
	}
	.p-Home.TextBox15.bpt {
font-size: 13px;
width: 150px;
	}
	.p-Home.TextBox16.bpt {
font-size: 15px;
	}
	.p-Home.TextBox17.bpt {
overflow: hidden;
box-sizing: border-box;
	}
	.p-Home.TextBox18.bpt {
font-size: 0.9em;
	}
	.p-Home.TextBox22.bpt {
font-size: 0.9em;
	}
	.p-Home.TextBox23.bpt {
font-size: 0.9em;
	}
	.p-Home.TextBox61.bpt {
font-size: 0.9em;
	}
	.p-Home.TextBox26.bpt {
border-bottom-style: solid;
	}
	.p-Home.TextBox28.bpt {
align-self: flex-start;
border-bottom-style: solid;
border-bottom-width: 2px;
border-bottom-color: #cccccc;
	}
	.p-Home.TextBox33.bpt {
line-height: 30px;
	}
	.p-Home.TextBox38.bpt {
line-height: 30px;
	}
	.p-Home.Image4.bpt {
width: 400px;
	}
	.p-Home.TextBox39.bpt {
font-size: 3em;
	}
	.p-Home.TextBox40.bpt {
font-size: 1.5em;
	}
	.p-Home.TextBox41.bpt {
font-size: 1.5em;
	}
	.p-Home.TextBox42.bpt {
font-size: 3em;
	}
	.p-Home.TextBox43.bpt {
font-size: 1.5em;
	}
	.p-Home.TextBox44.bpt {
font-size: 3em;
	}
	.p-Home.TextBox45.bpt {
font-size: 1em;
font-family: IBM Plex Sans;
	}
	.p-Home.TextBox46.bpt {
font-size: 3em;
	}
	.p-Home.TextBox49.bpt {
font-size: 3em;
	}
	.p-Home.TextBox50.bpt {
font-size: 3em;
	}
	.p-Home.TextBox47.bpt {
font-size: 1.3em;
width: 420px;
	}
	.p-Home.Image5.bpt {
width: 250px;
	}
	.p-Home.Image6.bpt {
width: 250px;
	}
	.p-Home.Image7.bpt {
width: 250px;
	}
	.p-Home.TextBox53.bpt {
overflow: hidden;
box-sizing: border-box;
font-size: 2em;
	}
	.p-Home.TextBox56.bpt {
overflow: hidden;
box-sizing: border-box;
font-size: 2em;
	}
	.p-Home.Button2.bpt {
padding-left: ;
padding-right: ;
	}
	.p-Home.TextBox60.bpt {
font-size: 1em;
	}
	.p-Home.TextBox63.bpt {
width: 400px;
font-size: 1.3em;
	}
	.p-Home.TextBox64.bpt {
font-size: 1.2em;
	}
	.p-Home.Image8.bpt {
width: 300px;
height: 90px;
	}
	.p-Home.TextBox68.bpt {
font-size: 2.4em;
	}
	.p-Home.TextBox69.bpt {
width: 350px;
font-size: 1.2em;
	}
	.p-Home.TextBox70.bpt {
font-size: 1.2em;
	}
	.p-Home.TextBox71.bpt {
font-size: 2.4em;
	}
	.p-Home.Image9.bpt {
width: 300px;
height: 90px;
	}
	.p-Home.Image10.bpt {
width: 300px;
height: 90px;
	}
	.p-Home.TextBox72.bpt {
font-size: 2.4em;
	}
	.p-Home.TextBox73.bpt {
font-size: 1.2em;
	}
	.p-Home.Image11.bpt {
width: 300px;
height: 90px;
	}
	.p-Home.TextBox74.bpt {
font-size: 2.5em;
	}
	.p-Home.TextBox75.bpt {
font-size: 1.2em;
	}
}