.p-Home.Div2{
    margin-left: -20px;
}

// fade up animation

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translate3d(0,50%,0);
       
	}
	to {
		opacity: 1;
		transform: translate3d(0,0,0);
        
	}
}

// fade down animation
@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translate3d(0,-60%,0);
	}
	to {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
// Fade up end

// fade right start
@keyframes fadeRight {
	from {
		opacity: 0;
		transform: translate3d(-40%, 0,0);
	}
	to {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

// fade right end
// fade left start
@keyframes fadeLeft {
	from {
		opacity: 0;
		transform: translate3d(30%, 0,0);
	}
	to {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
// fade left end

// animation of nav bar start
.p-Home.TextBox1{
    animation: 1.5s fadeDown  0s linear;
}
.p-Home.Flex2{

    animation: 1.5s fadeDown  0s linear;
}

.p-Home.Button1{

    animation: 1.5s fadeDown  0s linear;
}

// animation of nav bar en
// animation of hero sectio sstart
.p-Home.TextBox5{

    animation: 1.3s fadeDown  0.7s linear;
}

.p-Home.Flex8{
    animation: 1.3s fadeDown  0.7s linear;
}
.p-Home.Flex6{
    animation: 1.3s fadeDown  0.7s linear;
}
.p-Home.Flex13{
	animation: 1.3s fadeRight 0.7s linear;

}
.p-Home.TextBox14{
    animation: 1.3s fadeDown 0.7s linear;

}
.p-Home.Flex19{
    animation: 1.3s fadeDown 1.2s linear;

}
.p-Home.Image1{
    animation: 1s fadeUp 1.5s linear;

}

// marquee 1 animation start
@keyframes marquee {
	0% {
		left: 0;
	}
	100% {
		left: -100%;
	}
}
.p-Home.Flex67{ 
		animation:marquee 10s linear infinite;
		// background-color: aqua;
}
.p-Home.Flex134{ 
	animation:marquee 10s linear infinite;
	// background-color: aqua;
}
// marquee 1 animation end

.p-Home.TextBox26.active{
    animation: 1.3s fadeRight 0.1s linear;

}
.p-Home.Flex24.active{
    animation: 1.3s fadeRight 0.1s linear;
}

.p-Home.Flex25.active{
    animation: 1.3s fadeRight 0.1s linear;
}
.p-Home.TextBox27.active{
    animation: 1.3s fadeRight 0.2s linear;

}
.p-Home.TextBox28.active{
    animation: 1.3s fadeRight 0.1s linear;

}
.p-Home.Image2{
    animation: 2s fadeDown 1s linear;

}
.p-Home.Image3{
    animation: 2s fadeDown 1s linear;

}
.p-Home.TextBox33.active{
    animation: 1.5s fadeDown 0.2s linear;
}
.p-Home.TextBox38.active{
    animation: 1.5s fadeDown 0.2s linear;

}
.p-Home.Flex29.active{
    animation: 1.6s fadeRight 0.2s linear;

}
.p-Home.Flex30.active{
    animation: 1.6s fadeRight 0.2s linear;

}
.p-Home.Image4.active{
    animation-name: fadeDown;
    animation-duration: 2s;
  

}
@keyframes scaleDown {
    from{
        height: 10px;
    }
    to{
        height: auto;
    }
    
}
// about us image section start

.p-Home.TextBox40:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox40.active {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}

    



.p-Home.TextBox39::after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox39.active{
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}
.p-Home.TextBox42:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox42.active {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
    

}
.p-Home.TextBox41:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox41.active {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
    

}
.p-Home.TextBox44:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox44.active {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}

}
.p-Home.TextBox43:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox43.active {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}

}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
        
	}
	to {
		clip-path: inset(0 0 0 0);
        
        
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
        
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
        
	}
}

// about us image section end

// making ideas happen start
.p-Home.Image8.active{
    animation: 1.5s scaleup 0.2s linear;
    transition-duration: 3s;

}
.p-Home.Image9.active{
    animation: 1.5s scaleup 0.2s linear;
    transition-duration: 3s;

}
.p-Home.Image10.active{
    animation: 1.5s scaleup 0.2s linear;
    transition-duration: 3s;

}
.p-Home.Image11.active{
    animation: 1.5s scaleup 0.2s linear;
    transition-duration: 3s;

}
@keyframes scaleup {
    from{
       transform: scaleX(0);
	   opacity: 0;
		
    }
    to{
        transform:scaleX(0.5px);
		opacity:1;
    }
}



.p-Home.Flex55.active{
    animation: 1s fadeUp 0.1s linear;

}
.p-Home.TextBox63.active{
    animation: 1s fadeUp 0.1s linear;

}
.p-Home.TextBox68.active{
    animation: 1s fadeUp 0.1s linear;

}
.p-Home.TextBox69.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox70.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox71.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox72.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox73.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox74.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox75.active{
    animation: 1.3s fadeUp 0.1s linear;

}

// making ideas end


// discover section start
.p-Home.TextBox45.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox46.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox49.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox50.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.Flex43.active{
    animation: 1.3s fadeRight 0.1s linear;

}
@keyframes scaleY {
    from{
       transform: scaleY(0);
	   opacity: 0;
		
    }
    to{
        transform:scaleY(0.5px);
		opacity:1;
    }
}
.p-Home.Flex46.active{
    animation: 1.3s scaleY 0.1s linear;

}


// discover section end


// footer section starts
.p-Home.TextBox51.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox53.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox56.active{
    animation: 1.3s fadeUp 0.1s linear;

}
.p-Home.TextBox52.active{
    animation: 1.3s scaleup 0.1s linear;

}
.p-Home.Flex51.active{
    animation: 1.3s fadeDown 0.1s linear;

}
// footer section end
.p-Home.Icon2{
	background-color: aqua;
}