.p-Home.Div2{
    margin-left: -20px;
}
.p-Home.Flex17{
    white-space: nowrap;
}
// fade up animation

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translate3d(0,50%,0);
       
	}
	to {
		opacity: 1;
		transform: translate3d(0,0,0);
        
	}
}

// fade down animation
@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translate3d(0,-60%,0);
	}
	to {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
// Fade up end

// fade right start
@keyframes fadeRight {
	from {
		opacity: 0;
		transform: translate3d(-40%, 0,0);
	}
	to {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

// fade right end
// fade left start
@keyframes fadeLeft {
	from {
		opacity: 0;
		transform: translate3d(30%, 0,0);
	}
	to {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
// fade left end

// animation of nav bar start
.p-Home.TextBox1{
    animation: 1.5s fadeDown  0s linear;
}
.p-Home.Flex2{

    animation: 1.5s fadeDown  0s linear;
}

.p-Home.Button1{

    animation: 1.5s fadeDown  0s linear;
}

// animation of nav bar en
// animation of hero sectio sstart
.p-Home.TextBox5{

    animation: 1.3s fadeDown  0.7s linear;
}

.p-Home.Flex8{
    animation: 1.3s fadeDown  0.7s linear;
}
.p-Home.Flex6{
    animation: 1.3s fadeDown  0.7s linear;
}
.p-Home.Flex13{
	animation: 1.3s fadeRight 0.7s linear;

}
.p-Home.TextBox14{
    animation: 1.3s fadeDown 0.7s linear;

}
.p-Home.Flex19{
    animation: 1.3s fadeDown 1.2s linear;

}
.p-Home.Image1{
    animation: 1s fadeUp 1.5s linear;

}

// marquee 1 animation start
@keyframes marquee {
    from {
      transform: translateX(300%);
    }
    to {
      transform: translateX(-600%);
    }
  }
  .p-Home.TextBox18{
    animation: marquee 10s linear infinite;

}
.p-Home.TextBox22{
    animation: marquee 10s linear infinite;

}
.p-Home.TextBox23{
    animation: marquee 10s linear infinite;

}

.p-Home.TextBox61{
    animation: marquee 10s linear infinite;

}

// marquee 1 animation end

.p-Home.TextBox26{
    animation: 2s fadeRight 1s linear;
}
.p-Home.Flex24{
    animation: 2s fadeRight 1s linear;

}
.p-Home.Flex25{
    animation: 2s fadeRight 1s linear;
}
.p-Home.TextBox27{
    animation: 2s fadeRight 1s linear;

}
.p-Home.TextBox28{
    animation: 2s fadeRight 1s linear;

}
.p-Home.Image2{
    animation: 2s fadeDown 1s linear;

}
.p-Home.Image3{
    animation: 2s fadeDown 1s linear;

}
.p-Home.TextBox33{
    animation: 2s fadeDown 1s linear;
}
.p-Home.TextBox38{
    animation: 2s fadeDown 1s linear;

}
.p-Home.Flex29{
    animation: 2s fadeRight 1s linear;

}
.p-Home.Flex30{
    animation: 2s fadeRight 1s linear;

}
.p-Home.Image4{
    animation-name: fadeDown;
    animation-duration: 2s;
  

}
@keyframes scaleDown {
    from{
        height: 10px;
    }
    to{
        height: auto;
    }
    
}
// about us image section start

.p-Home.TextBox40:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 10);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox40 {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}

    



.p-Home.TextBox39::after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 10);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox39 {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}
.p-Home.TextBox42:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 10);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox42 {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
    

}
.p-Home.TextBox41:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 10);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox41 {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
    

}
.p-Home.TextBox44:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 10);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox44 {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}

}
.p-Home.TextBox43:after {
	animation-delay: var(--animation-delay, 3s);
	animation-iteration-count: var(--iterations, 10);
	animation-duration: var(--duration, 2000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.TextBox43 {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 500ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: rgb(7, 7, 7);
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}

}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
        
	}
	to {
		clip-path: inset(0 0 0 0);
        
        
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
        
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
        
	}
}

// about us image section end